APP_NAME=Proyecto ETL Dashboard
ENVIRONMENT=development
RAW_DATA_PATH=./data/raw/hourlySteps_sucio.csv
ORIGINAL_DATA_PATH=./data/og/hourlySteps_merged.csv
PROCESSED_DATA_PATH=./data/processed/hourlySteps.csv
DATABASE_URL=sqlite:///./data/processed/actividad_fisica.db
API_HOST=0.0.0.0
API_PORT=8000
DASHBOARD_PORT=8501
